.account {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    margin: .5rem;
}

.icon-account {
    width: 24px;
    height: 24px;
}

figcaption {
    font-size: .875rem;
    color: #faebd7;
    font-weight: 600;
}